/*insert style here*/

/* Random styling for now, will visualize with data later */

/* to prevent accidental clicks 'behind' the landing page */
#map, #timeline, #infoBox, #distTracker {
    pointer-events: none; 
}

.landingPage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background: rgba(0, 0, 0, 0.95);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 9999;
}

#infoBox {
    position: fixed;   /* or absolute if inside a layout wrapper, decide later in process */
    top: 20px;
    right: 20px;

    width: 320px;  
    height: 60vh;      /* limits vertical space */

    background: rgba(0, 0, 0, 0.85);
    color: white;

    padding: 16px;
    border-radius: 10px;

    overflow-y: auto;  /* this enables scrolling if text is too long */
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;

    z-index: 1000;
}